<h1>Job Details</h1>
<p>Login: zsuradar</p>
<p>Employee ID: 203676138</p>
<p>Employment type: Full-Time (Class F)</p>
<p>Start Date: 01-Jan-2022</p>
<p>Department: CS Operations - VAR</p>
<p>Location: Bangalore</p>
